extends layout

block backMenu
  div.backMenu
    a(href="/home") Home
    //- a(href="/recipes/all") all Recipes

block actionMenu
  div.actionMenu
    a(href="/recipes/new") Add a Recipe
    a(href=`/categories/edit/${categoryId}`) Edit Category
    form.delete(action=`/categories/delete/${categoryId}` method="post")
      button.deletion Delete Category

block main 
  if (!recipes)
    section 
      h1= categoryTitle 
      p There are no recipes for this category. Why don't you add one now?
      a.button(href="/recipes/new") Add a Recipe
  else 
    section
      h1= categoryTitle
      ul.resultList   
        each recipe in recipes 
          li  
            a(href=`/recipe/${categoryId}/${recipe.id}`)= recipe.recipe 
      article 
        if pagination 
          ul.pagination 
            li 
              a(href=`/category/${categoryId}?page=${pagination.prevPage}` class=`${pagination.prevPage ? '' : 'disabled'}`)  &lt; 
            each page in pagination.allPages
              li 
                a(href=`/category/${categoryId}?page=${page}` class=`${pagination.currentPage === page ? 'current' : ''}`)= page
            li 
              a(href=`/category/${categoryId}?page=${pagination.nextPage}` class=`${pagination.nextPage ? '' : 'disabled'}`) &gt; 
