extends layout

block backMenu
  a.backMenu(href=`/category/${recipeInfo.category_id}`)= categoryTitle

block actionMenu
  div.actionMenu
    a(href=`/category/${recipeInfo.category_id}/edit`) Edit Recipe
    form.delete(action=`/category/${recipeInfo.category_id}/delete`)
      button Delete Recipe

block main 
  section
    h1= recipeInfo.recipe
    article
      .recipeInfo
        .left
          .details
            p= `Serves: ${recipeInfo.serves}` 
            p= `Minutes: ${recipeInfo.prep_time}`
          .steps 
            h2 Preparation steps: 
            ul 
              each step in recipeInfo.steps.match(/\(?[^\.\?\!]+[\.!\?]\)?/g) 
                li= step
        .ingredients 
          h2 Ingredients: 
          ul 
            each ingredient in recipeInfo.ingredients.split(',')
              li= ingredient
        