extends layout

block backMenu
  .backMenu 
    a(href=`/category/${recipeInfo.category_id}`)= categoryTitle
    a(href="/recipes/all") all Recipes

block actionMenu
  div.actionMenu
    a(href=`/recipes/edit/${recipeInfo.id}`) Edit Recipe
    form.delete(action=`/recipes/delete/${recipeInfo.id}` method="post")
      button Delete Recipe

block main 
  section
    h1= recipeInfo.recipe
    article
      .recipeInfo
        .left
          .details
            p= `Serves: ${recipeInfo.serves}` 
            p= `Time: ${recipeInfo.prep_time}'`
          .steps 
            h2 Instructions: 
            ul 
              each step in recipeInfo.steps.match(/\(?[^\.\?\!]+[\.!\?]\)?/g) 
                li= step
        .ingredients 
          h2 Ingredients: 
          ul 
            each ingredient in recipeInfo.ingredients.split(',')
              li= ingredient
        